<h1 class="text-center">Post Details</h1>
<button class="btn btn-primary" (click)="onAddPost()">New</button>
<div class="d-flex gap-5 my-3">
  <ul class="list-group col-md-4" *ngIf="viewModel$ | async as vm">
    <ng-container *ngFor="let post of vm.posts">
      <a
        href="#"
        class="list-group-item list-group-item-action"
        *ngIf="post.title"
        (click)="onSelectPost(post, $event)"
        [class]="post.id === vm.selectedPost?.id ? 'active' : ''"
      >
        {{ post.title | uppercase }} ({{ post.categoryName }})
      </a>
    </ng-container>
  </ul>
  <div class="col-md-8">
    <app-single-post *ngIf="!showAddPost"></app-single-post>
    <app-add-post
      *ngIf="showAddPost"
      (cancelAddPost)="onCancelAddPost()"
    ></app-add-post>
  </div>
</div>
