<h1 class="text-center">Posts</h1>
<button
  class="btn btn-primary position-absolute top-0 end-0 mt-2"
  routerLink="add"
>
  New
</button>
<select class="form-select my-4" (change)="onCategoryChange($event)">
  <option [ngValue]="null" selected disabled>Select Category</option>
  <option [value]="category.id" *ngFor="let category of categories$ | async">
    {{ category.title }}
  </option>
</select>
<ng-container *ngIf="posts$ | async as posts">
  <table *ngIf="posts.length" class="table table-striped text-center">
    <thead>
      <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Description</th>
        <th>Category</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let post of posts">
        <td>{{ post.id.slice(1) | uppercase }}</td>
        <td>{{ post.title }}</td>
        <td>{{ post.description }}</td>
        <td>{{ post.categoryName }}</td>
        <td>
          <button class="btn btn-info" routerLink="edit/{{ post.id }}">
            Update
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <h2 *ngIf="!posts.length" class="text-center my-4">No post present. 😞</h2>
</ng-container>
