<h1 class="text-center">Posts</h1>
<select class="form-select my-4" (change)="onCategoryChange($event)">
  <option value="">Select Category</option>
  <option
    value="{{ category.id }}"
    *ngFor="let category of categories$ | async"
  >
    {{ category.title }}
  </option>
  <option value="other">Others</option>
</select>
<ng-container *ngIf="posts$ | async as posts; else loader">
  <table *ngIf="posts.length" class="table table-striped text-center">
    <thead>
      <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Description</th>
        <th>Category</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let post of posts">
        <td>{{ post.id }}</td>
        <td>{{ post.title }}</td>
        <td>{{ post.description }}</td>
        <td>{{ post.categoryName }}</td>
      </tr>
    </tbody>
  </table>
  <h2 *ngIf="!posts.length" class="text-center my-4">No data present. 😞</h2>
</ng-container>
<ng-template #loader>
  <div class="overlay">
    <div class="loading-spinner">
      <div class="lds-spinner">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
      <div>Loading...</div>
    </div>
  </div>
</ng-template>
